<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Local Notification
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item>
    <ion-label position="floating">Notification Title</ion-label>
    <ion-input  [(ngModel)]="localNotificationData.title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Notification Text</ion-label>
    <ion-textarea [(ngModel)]="localNotificationData.text"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label>Show in Foreground</ion-label>
    <ion-toggle [(ngModel)]="localNotificationData.foreground"></ion-toggle>
  </ion-item>



  <div class="ion-padding-start ion-padding-end ion-margin-top ion-margin-bottom">Notification Date</div>
  <ion-datetime (ionChange)="dateChanged($event)" locale="fr-FR"></ion-datetime>
  <ion-item-divider>
  </ion-item-divider>
  <div class="ion-margin ion-text-center">
    <ion-button (click)="scheduleNotification()">Create Notification</ion-button>
  </div>
</ion-content>
